.home-page {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

}

.getstart {
  background-image: url('../assets/homeImg.jpg');
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}
